--
-- PostgreSQL database dump
--

\restrict XQXlEnu7rC6moWTKF82vphOIX9ampL5VCZolFHzgcbvMWDYvoJGY2xAx7zF0Kow

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: fn_check_relic_slot_type(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_check_relic_slot_type() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_type VARCHAR(10);
BEGIN
    SELECT type INTO v_type FROM relic_set WHERE relic_set_id = NEW.relic_set_id;

    IF NEW.slot IN ('head', 'hands', 'body', 'feet') AND v_type <> 'relic' THEN
        RAISE EXCEPTION
            'Slot % hanya boleh diisi relic_set bertipe relic (active_char_id: %).', NEW.slot, NEW.active_char_id;
    END IF;

    IF NEW.slot IN ('planar_sphere', 'link_rope') AND v_type <> 'planar' THEN
        RAISE EXCEPTION
            'Slot % hanya boleh diisi relic_set bertipe planar (active_char_id: %).', NEW.slot, NEW.active_char_id;
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_check_relic_slot_type() OWNER TO postgres;

--
-- Name: fn_check_relic_type(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_check_relic_type() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.type = 'planar' AND NEW.effect_4pc IS NOT NULL THEN
        RAISE EXCEPTION
            'Relic set bertipe planar tidak boleh memiliki effect_4pc (id: %).', NEW.relic_set_id;
    END IF;

    IF NEW.type = 'relic' AND NEW.effect_4pc IS NULL THEN
        RAISE EXCEPTION
            'Relic set bertipe relic harus memiliki effect_4pc (id: %).', NEW.relic_set_id;
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_check_relic_type() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: active_character; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.active_character (
    active_char_id integer NOT NULL,
    team_id integer NOT NULL,
    character_id integer NOT NULL,
    slot_number smallint NOT NULL,
    level smallint DEFAULT 1 NOT NULL,
    eidolon smallint DEFAULT 0 NOT NULL,
    trace_level smallint DEFAULT 1 NOT NULL,
    active_lc_id integer,
    CONSTRAINT active_character_eidolon_check CHECK (((eidolon >= 0) AND (eidolon <= 6))),
    CONSTRAINT active_character_level_check CHECK (((level >= 1) AND (level <= 80))),
    CONSTRAINT active_character_slot_number_check CHECK (((slot_number >= 1) AND (slot_number <= 3))),
    CONSTRAINT active_character_trace_level_check CHECK (((trace_level >= 1) AND (trace_level <= 10)))
);


ALTER TABLE public.active_character OWNER TO postgres;

--
-- Name: active_character_active_char_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.active_character_active_char_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.active_character_active_char_id_seq OWNER TO postgres;

--
-- Name: active_character_active_char_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.active_character_active_char_id_seq OWNED BY public.active_character.active_char_id;


--
-- Name: active_lc; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.active_lc (
    active_lc_id integer NOT NULL,
    light_cone_id integer NOT NULL,
    level smallint DEFAULT 1 NOT NULL,
    superimposition smallint DEFAULT 1 NOT NULL,
    CONSTRAINT active_lc_level_check CHECK (((level >= 1) AND (level <= 80))),
    CONSTRAINT active_lc_superimposition_check CHECK (((superimposition >= 1) AND (superimposition <= 5)))
);


ALTER TABLE public.active_lc OWNER TO postgres;

--
-- Name: active_lc_active_lc_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.active_lc_active_lc_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.active_lc_active_lc_id_seq OWNER TO postgres;

--
-- Name: active_lc_active_lc_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.active_lc_active_lc_id_seq OWNED BY public.active_lc.active_lc_id;


--
-- Name: active_relic; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.active_relic (
    active_char_id integer NOT NULL,
    slot character varying(20) NOT NULL,
    relic_set_id integer NOT NULL,
    main_stat_id integer NOT NULL,
    level smallint DEFAULT 0 NOT NULL,
    CONSTRAINT active_relic_level_check CHECK (((level >= 0) AND (level <= 15))),
    CONSTRAINT active_relic_slot_check CHECK (((slot)::text = ANY ((ARRAY['head'::character varying, 'hands'::character varying, 'body'::character varying, 'feet'::character varying, 'planar_sphere'::character varying, 'link_rope'::character varying])::text[])))
);


ALTER TABLE public.active_relic OWNER TO postgres;

--
-- Name: character; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."character" (
    character_id integer NOT NULL,
    archive_id character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    rarity smallint NOT NULL,
    path_id integer NOT NULL,
    element_id integer NOT NULL,
    hp_lv1 integer,
    atk_lv1 integer,
    def_lv1 integer,
    spd_lv1 integer,
    hp_lv80 integer,
    atk_lv80 integer,
    def_lv80 integer,
    spd_lv80 integer,
    CONSTRAINT character_rarity_check CHECK ((rarity = ANY (ARRAY[4, 5])))
);


ALTER TABLE public."character" OWNER TO postgres;

--
-- Name: character_ascension_material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.character_ascension_material (
    character_id integer NOT NULL,
    material_id integer NOT NULL,
    amount integer NOT NULL,
    CONSTRAINT character_ascension_material_amount_check CHECK ((amount > 0))
);


ALTER TABLE public.character_ascension_material OWNER TO postgres;

--
-- Name: character_character_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.character_character_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.character_character_id_seq OWNER TO postgres;

--
-- Name: character_character_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.character_character_id_seq OWNED BY public."character".character_id;


--
-- Name: character_main_stat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.character_main_stat (
    character_id integer NOT NULL,
    slot character varying(20) NOT NULL,
    stat_id integer NOT NULL,
    priority_rank smallint NOT NULL,
    CONSTRAINT character_main_stat_priority_rank_check CHECK ((priority_rank > 0)),
    CONSTRAINT character_main_stat_slot_check CHECK (((slot)::text = ANY ((ARRAY['body'::character varying, 'feet'::character varying, 'planar_sphere'::character varying, 'link_rope'::character varying])::text[])))
);


ALTER TABLE public.character_main_stat OWNER TO postgres;

--
-- Name: character_recommended_lc; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.character_recommended_lc (
    character_id integer NOT NULL,
    light_cone_id integer NOT NULL,
    priority_rank smallint NOT NULL,
    CONSTRAINT character_recommended_lc_priority_rank_check CHECK ((priority_rank > 0))
);


ALTER TABLE public.character_recommended_lc OWNER TO postgres;

--
-- Name: character_recommended_relic; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.character_recommended_relic (
    character_id integer NOT NULL,
    relic_set_id integer NOT NULL,
    priority_rank smallint NOT NULL,
    CONSTRAINT character_recommended_relic_priority_rank_check CHECK ((priority_rank > 0))
);


ALTER TABLE public.character_recommended_relic OWNER TO postgres;

--
-- Name: character_sub_stat_priority; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.character_sub_stat_priority (
    character_id integer NOT NULL,
    stat_id integer NOT NULL,
    priority_rank smallint NOT NULL,
    CONSTRAINT character_sub_stat_priority_priority_rank_check CHECK ((priority_rank > 0))
);


ALTER TABLE public.character_sub_stat_priority OWNER TO postgres;

--
-- Name: character_trace_material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.character_trace_material (
    character_id integer NOT NULL,
    material_id integer NOT NULL,
    amount integer NOT NULL,
    CONSTRAINT character_trace_material_amount_check CHECK ((amount > 0))
);


ALTER TABLE public.character_trace_material OWNER TO postgres;

--
-- Name: element; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.element (
    element_id integer NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.element OWNER TO postgres;

--
-- Name: element_element_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.element_element_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.element_element_id_seq OWNER TO postgres;

--
-- Name: element_element_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.element_element_id_seq OWNED BY public.element.element_id;


--
-- Name: light_cone; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.light_cone (
    light_cone_id integer NOT NULL,
    archive_id character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    rarity smallint NOT NULL,
    path_id integer NOT NULL,
    hp_lv1 integer,
    atk_lv1 integer,
    def_lv1 integer,
    hp_lv80 integer,
    atk_lv80 integer,
    def_lv80 integer,
    passive_name character varying(100),
    passive_description text,
    CONSTRAINT light_cone_rarity_check CHECK (((rarity >= 3) AND (rarity <= 5)))
);


ALTER TABLE public.light_cone OWNER TO postgres;

--
-- Name: light_cone_ascension_material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.light_cone_ascension_material (
    light_cone_id integer NOT NULL,
    material_id integer NOT NULL,
    amount integer NOT NULL,
    CONSTRAINT light_cone_ascension_material_amount_check CHECK ((amount > 0))
);


ALTER TABLE public.light_cone_ascension_material OWNER TO postgres;

--
-- Name: light_cone_light_cone_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.light_cone_light_cone_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.light_cone_light_cone_id_seq OWNER TO postgres;

--
-- Name: light_cone_light_cone_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.light_cone_light_cone_id_seq OWNED BY public.light_cone.light_cone_id;


--
-- Name: material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material (
    material_id integer NOT NULL,
    name character varying(100) NOT NULL,
    rarity smallint NOT NULL,
    type character varying(20) NOT NULL,
    CONSTRAINT material_rarity_check CHECK (((rarity >= 2) AND (rarity <= 5))),
    CONSTRAINT material_type_check CHECK (((type)::text = ANY ((ARRAY['ascension_mat'::character varying, 'trace_mat'::character varying, 'currency'::character varying])::text[])))
);


ALTER TABLE public.material OWNER TO postgres;

--
-- Name: material_material_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.material_material_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.material_material_id_seq OWNER TO postgres;

--
-- Name: material_material_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.material_material_id_seq OWNED BY public.material.material_id;


--
-- Name: path; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.path (
    path_id integer NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.path OWNER TO postgres;

--
-- Name: path_path_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.path_path_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.path_path_id_seq OWNER TO postgres;

--
-- Name: path_path_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.path_path_id_seq OWNED BY public.path.path_id;


--
-- Name: relic_set; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.relic_set (
    relic_set_id integer NOT NULL,
    archive_id character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    type character varying(10) NOT NULL,
    effect_2pc text,
    effect_4pc text,
    CONSTRAINT relic_set_type_check CHECK (((type)::text = ANY ((ARRAY['relic'::character varying, 'planar'::character varying])::text[])))
);


ALTER TABLE public.relic_set OWNER TO postgres;

--
-- Name: relic_set_relic_set_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.relic_set_relic_set_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.relic_set_relic_set_id_seq OWNER TO postgres;

--
-- Name: relic_set_relic_set_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.relic_set_relic_set_id_seq OWNED BY public.relic_set.relic_set_id;


--
-- Name: stat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stat (
    stat_id integer NOT NULL,
    name character varying(60) NOT NULL
);


ALTER TABLE public.stat OWNER TO postgres;

--
-- Name: stat_stat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stat_stat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stat_stat_id_seq OWNER TO postgres;

--
-- Name: stat_stat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stat_stat_id_seq OWNED BY public.stat.stat_id;


--
-- Name: team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.team (
    team_id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.team OWNER TO postgres;

--
-- Name: team_team_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.team_team_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.team_team_id_seq OWNER TO postgres;

--
-- Name: team_team_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.team_team_id_seq OWNED BY public.team.team_id;


--
-- Name: active_character active_char_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_character ALTER COLUMN active_char_id SET DEFAULT nextval('public.active_character_active_char_id_seq'::regclass);


--
-- Name: active_lc active_lc_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_lc ALTER COLUMN active_lc_id SET DEFAULT nextval('public.active_lc_active_lc_id_seq'::regclass);


--
-- Name: character character_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."character" ALTER COLUMN character_id SET DEFAULT nextval('public.character_character_id_seq'::regclass);


--
-- Name: element element_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.element ALTER COLUMN element_id SET DEFAULT nextval('public.element_element_id_seq'::regclass);


--
-- Name: light_cone light_cone_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.light_cone ALTER COLUMN light_cone_id SET DEFAULT nextval('public.light_cone_light_cone_id_seq'::regclass);


--
-- Name: material material_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material ALTER COLUMN material_id SET DEFAULT nextval('public.material_material_id_seq'::regclass);


--
-- Name: path path_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.path ALTER COLUMN path_id SET DEFAULT nextval('public.path_path_id_seq'::regclass);


--
-- Name: relic_set relic_set_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.relic_set ALTER COLUMN relic_set_id SET DEFAULT nextval('public.relic_set_relic_set_id_seq'::regclass);


--
-- Name: stat stat_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stat ALTER COLUMN stat_id SET DEFAULT nextval('public.stat_stat_id_seq'::regclass);


--
-- Name: team team_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team ALTER COLUMN team_id SET DEFAULT nextval('public.team_team_id_seq'::regclass);


--
-- Data for Name: active_character; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.active_character (active_char_id, team_id, character_id, slot_number, level, eidolon, trace_level, active_lc_id) FROM stdin;
\.


--
-- Data for Name: active_lc; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.active_lc (active_lc_id, light_cone_id, level, superimposition) FROM stdin;
\.


--
-- Data for Name: active_relic; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.active_relic (active_char_id, slot, relic_set_id, main_stat_id, level) FROM stdin;
\.


--
-- Data for Name: character; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: character_ascension_material; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: character_main_stat; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: character_recommended_lc; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: character_recommended_relic; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: character_sub_stat_priority; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: character_trace_material; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: element; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.element (element_id, name) FROM stdin;
1	Fire
2	Ice
3	Imaginary
4	Lightning
5	Physical
6	Quantum
7	Wind
\.


--
-- Data for Name: light_cone; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: light_cone_ascension_material; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: material; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: path; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.path (path_id, name) FROM stdin;
1	Abundance
2	Destruction
3	Elation
4	Erudition
5	Harmony
6	Hunt
7	Nihility
8	Preservation
9	Remembrance
\.


--
-- Data for Name: relic_set; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stat; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stat (stat_id, name) FROM stdin;
1	ATK
2	ATK%
3	Break Effect
4	Crit DMG%
5	Crit Rate%
6	DEF
7	DEF%
8	Effect Hit Rate
9	Effect Res
10	Energy Regeneration Rate
11	Fire DMG
12	HP
13	HP%
14	Ice DMG
15	Imaginary DMG
16	Lightning DMG
17	Outgoing Healing Boost
18	Physical DMG
19	Quantum DMG
20	SPD
21	Wind DMG
\.


--
-- Data for Name: team; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.team (team_id, name, description, created_at) FROM stdin;
\.


--
-- Name: active_character_active_char_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.active_character_active_char_id_seq', 1, false);


--
-- Name: active_lc_active_lc_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.active_lc_active_lc_id_seq', 1, false);


--
-- Name: character_character_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.character_character_id_seq', 86, true);


--
-- Name: element_element_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.element_element_id_seq', 7, true);


--
-- Name: light_cone_light_cone_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.light_cone_light_cone_id_seq', 162, true);


--
-- Name: material_material_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.material_material_id_seq', 136, true);


--
-- Name: path_path_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.path_path_id_seq', 9, true);


--
-- Name: relic_set_relic_set_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.relic_set_relic_set_id_seq', 58, true);


--
-- Name: stat_stat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stat_stat_id_seq', 21, true);


--
-- Name: team_team_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.team_team_id_seq', 1, false);


--
-- Name: active_character active_character_active_lc_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_character
    ADD CONSTRAINT active_character_active_lc_id_key UNIQUE (active_lc_id);


--
-- Name: active_character active_character_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_character
    ADD CONSTRAINT active_character_pkey PRIMARY KEY (active_char_id);


--
-- Name: active_character active_character_team_id_character_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_character
    ADD CONSTRAINT active_character_team_id_character_id_key UNIQUE (team_id, character_id);


--
-- Name: active_character active_character_team_id_slot_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_character
    ADD CONSTRAINT active_character_team_id_slot_number_key UNIQUE (team_id, slot_number);


--
-- Name: active_lc active_lc_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_lc
    ADD CONSTRAINT active_lc_pkey PRIMARY KEY (active_lc_id);


--
-- Name: active_relic active_relic_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_relic
    ADD CONSTRAINT active_relic_pkey PRIMARY KEY (active_char_id, slot);


--
-- Name: character character_archive_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."character"
    ADD CONSTRAINT character_archive_id_key UNIQUE (archive_id);


--
-- Name: character_ascension_material character_ascension_material_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_ascension_material
    ADD CONSTRAINT character_ascension_material_pkey PRIMARY KEY (character_id, material_id);


--
-- Name: character_main_stat character_main_stat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_main_stat
    ADD CONSTRAINT character_main_stat_pkey PRIMARY KEY (character_id, slot, stat_id);


--
-- Name: character character_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."character"
    ADD CONSTRAINT character_pkey PRIMARY KEY (character_id);


--
-- Name: character_recommended_lc character_recommended_lc_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_recommended_lc
    ADD CONSTRAINT character_recommended_lc_pkey PRIMARY KEY (character_id, light_cone_id);


--
-- Name: character_recommended_relic character_recommended_relic_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_recommended_relic
    ADD CONSTRAINT character_recommended_relic_pkey PRIMARY KEY (character_id, relic_set_id);


--
-- Name: character_sub_stat_priority character_sub_stat_priority_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_sub_stat_priority
    ADD CONSTRAINT character_sub_stat_priority_pkey PRIMARY KEY (character_id, stat_id);


--
-- Name: character_trace_material character_trace_material_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_trace_material
    ADD CONSTRAINT character_trace_material_pkey PRIMARY KEY (character_id, material_id);


--
-- Name: element element_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.element
    ADD CONSTRAINT element_name_key UNIQUE (name);


--
-- Name: element element_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.element
    ADD CONSTRAINT element_pkey PRIMARY KEY (element_id);


--
-- Name: light_cone light_cone_archive_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.light_cone
    ADD CONSTRAINT light_cone_archive_id_key UNIQUE (archive_id);


--
-- Name: light_cone_ascension_material light_cone_ascension_material_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.light_cone_ascension_material
    ADD CONSTRAINT light_cone_ascension_material_pkey PRIMARY KEY (light_cone_id, material_id);


--
-- Name: light_cone light_cone_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.light_cone
    ADD CONSTRAINT light_cone_pkey PRIMARY KEY (light_cone_id);


--
-- Name: material material_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material
    ADD CONSTRAINT material_name_key UNIQUE (name);


--
-- Name: material material_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material
    ADD CONSTRAINT material_pkey PRIMARY KEY (material_id);


--
-- Name: path path_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.path
    ADD CONSTRAINT path_name_key UNIQUE (name);


--
-- Name: path path_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.path
    ADD CONSTRAINT path_pkey PRIMARY KEY (path_id);


--
-- Name: relic_set relic_set_archive_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.relic_set
    ADD CONSTRAINT relic_set_archive_id_key UNIQUE (archive_id);


--
-- Name: relic_set relic_set_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.relic_set
    ADD CONSTRAINT relic_set_pkey PRIMARY KEY (relic_set_id);


--
-- Name: stat stat_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stat
    ADD CONSTRAINT stat_name_key UNIQUE (name);


--
-- Name: stat stat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stat
    ADD CONSTRAINT stat_pkey PRIMARY KEY (stat_id);


--
-- Name: team team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team
    ADD CONSTRAINT team_pkey PRIMARY KEY (team_id);


--
-- Name: active_relic trg_check_relic_slot_type; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_check_relic_slot_type BEFORE INSERT OR UPDATE ON public.active_relic FOR EACH ROW EXECUTE FUNCTION public.fn_check_relic_slot_type();


--
-- Name: relic_set trg_check_relic_type; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_check_relic_type BEFORE INSERT OR UPDATE ON public.relic_set FOR EACH ROW EXECUTE FUNCTION public.fn_check_relic_type();


--
-- Name: active_character active_character_active_lc_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_character
    ADD CONSTRAINT active_character_active_lc_id_fkey FOREIGN KEY (active_lc_id) REFERENCES public.active_lc(active_lc_id);


--
-- Name: active_character active_character_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_character
    ADD CONSTRAINT active_character_character_id_fkey FOREIGN KEY (character_id) REFERENCES public."character"(character_id);


--
-- Name: active_character active_character_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_character
    ADD CONSTRAINT active_character_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.team(team_id) ON DELETE CASCADE;


--
-- Name: active_lc active_lc_light_cone_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_lc
    ADD CONSTRAINT active_lc_light_cone_id_fkey FOREIGN KEY (light_cone_id) REFERENCES public.light_cone(light_cone_id);


--
-- Name: active_relic active_relic_active_char_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_relic
    ADD CONSTRAINT active_relic_active_char_id_fkey FOREIGN KEY (active_char_id) REFERENCES public.active_character(active_char_id) ON DELETE CASCADE;


--
-- Name: active_relic active_relic_main_stat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_relic
    ADD CONSTRAINT active_relic_main_stat_id_fkey FOREIGN KEY (main_stat_id) REFERENCES public.stat(stat_id);


--
-- Name: active_relic active_relic_relic_set_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_relic
    ADD CONSTRAINT active_relic_relic_set_id_fkey FOREIGN KEY (relic_set_id) REFERENCES public.relic_set(relic_set_id);


--
-- Name: character_ascension_material character_ascension_material_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_ascension_material
    ADD CONSTRAINT character_ascension_material_character_id_fkey FOREIGN KEY (character_id) REFERENCES public."character"(character_id) ON DELETE CASCADE;


--
-- Name: character_ascension_material character_ascension_material_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_ascension_material
    ADD CONSTRAINT character_ascension_material_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.material(material_id);


--
-- Name: character character_element_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."character"
    ADD CONSTRAINT character_element_id_fkey FOREIGN KEY (element_id) REFERENCES public.element(element_id);


--
-- Name: character_main_stat character_main_stat_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_main_stat
    ADD CONSTRAINT character_main_stat_character_id_fkey FOREIGN KEY (character_id) REFERENCES public."character"(character_id) ON DELETE CASCADE;


--
-- Name: character_main_stat character_main_stat_stat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_main_stat
    ADD CONSTRAINT character_main_stat_stat_id_fkey FOREIGN KEY (stat_id) REFERENCES public.stat(stat_id);


--
-- Name: character character_path_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."character"
    ADD CONSTRAINT character_path_id_fkey FOREIGN KEY (path_id) REFERENCES public.path(path_id);


--
-- Name: character_recommended_lc character_recommended_lc_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_recommended_lc
    ADD CONSTRAINT character_recommended_lc_character_id_fkey FOREIGN KEY (character_id) REFERENCES public."character"(character_id) ON DELETE CASCADE;


--
-- Name: character_recommended_lc character_recommended_lc_light_cone_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_recommended_lc
    ADD CONSTRAINT character_recommended_lc_light_cone_id_fkey FOREIGN KEY (light_cone_id) REFERENCES public.light_cone(light_cone_id);


--
-- Name: character_recommended_relic character_recommended_relic_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_recommended_relic
    ADD CONSTRAINT character_recommended_relic_character_id_fkey FOREIGN KEY (character_id) REFERENCES public."character"(character_id) ON DELETE CASCADE;


--
-- Name: character_recommended_relic character_recommended_relic_relic_set_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_recommended_relic
    ADD CONSTRAINT character_recommended_relic_relic_set_id_fkey FOREIGN KEY (relic_set_id) REFERENCES public.relic_set(relic_set_id);


--
-- Name: character_sub_stat_priority character_sub_stat_priority_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_sub_stat_priority
    ADD CONSTRAINT character_sub_stat_priority_character_id_fkey FOREIGN KEY (character_id) REFERENCES public."character"(character_id) ON DELETE CASCADE;


--
-- Name: character_sub_stat_priority character_sub_stat_priority_stat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_sub_stat_priority
    ADD CONSTRAINT character_sub_stat_priority_stat_id_fkey FOREIGN KEY (stat_id) REFERENCES public.stat(stat_id);


--
-- Name: character_trace_material character_trace_material_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_trace_material
    ADD CONSTRAINT character_trace_material_character_id_fkey FOREIGN KEY (character_id) REFERENCES public."character"(character_id) ON DELETE CASCADE;


--
-- Name: character_trace_material character_trace_material_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.character_trace_material
    ADD CONSTRAINT character_trace_material_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.material(material_id);


--
-- Name: light_cone_ascension_material light_cone_ascension_material_light_cone_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.light_cone_ascension_material
    ADD CONSTRAINT light_cone_ascension_material_light_cone_id_fkey FOREIGN KEY (light_cone_id) REFERENCES public.light_cone(light_cone_id) ON DELETE CASCADE;


--
-- Name: light_cone_ascension_material light_cone_ascension_material_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.light_cone_ascension_material
    ADD CONSTRAINT light_cone_ascension_material_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.material(material_id);


--
-- Name: light_cone light_cone_path_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.light_cone
    ADD CONSTRAINT light_cone_path_id_fkey FOREIGN KEY (path_id) REFERENCES public.path(path_id);


--
-- PostgreSQL database dump complete
--

\unrestrict XQXlEnu7rC6moWTKF82vphOIX9ampL5VCZolFHzgcbvMWDYvoJGY2xAx7zF0Kow

